In [1]:
# Importing the required libraries 

import pandas as pd # for the analysis and data processing
import numpy as np # for the arrays
import seaborn as sns # for visualization
import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
Transaction_ID = pd.read_csv(r"C:\Users\Hanno\Documents\DataSets-main\Transaction_ID.csv")

In [3]:
# 1 Understanding the data

In [4]:
Transaction_ID.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440098 entries, 0 to 440097
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Transaction ID  440098 non-null  int64
 1   Customer ID     440098 non-null  int64
 2   Payment_Mode    440098 non-null  object
dtypes: int64(2), object(1)
memory usage: 10.1+ MB

In [5]:
# get the variables name for all dataset 
Transaction_ID.columns

Index(['Transaction ID', 'Customer ID', 'Payment_Mode'], dtype='object')

In [6]:
# variables types
Transaction_ID.dtypes

Transaction ID     int64
Customer ID        int64
Payment_Mode      object
dtype: object

In [7]:
# get the number of rows and columns of data 
Transaction_ID.shape

(440098, 3)

In [8]:
# view some statistical details 
Transaction_ID.describe()

       Transaction ID    Customer ID
count    4.400980e+05  440098.000000
mean     1.022006e+07   23619.513120
std      1.270455e+05   21195.549816
min      1.000001e+07       1.000000
25%      1.011004e+07    3530.000000
50%      1.022006e+07   15168.000000
75%      1.033008e+07   43884.000000
max      1.044011e+07   60000.000000

In [9]:
# 2. Cleaning the data

In [10]:
# check for null values
Transaction_ID.isnull().sum()

Transaction ID    0
Customer ID       0
Payment_Mode      0
dtype: int64

In [11]:
# 3 The analysis

In [12]:
Transaction_ID.head(10)

   Transaction ID  Customer ID Payment_Mode
0        10000011        29290         Card
1        10000012        27703         Card
2        10000013        28712         Cash
3        10000014        28020         Cash
4        10000015        27182         Card
5        10000016        27318         Cash
6        10000017        33788         Card
7        10000018        34106         Card
8        10000019        59799         Cash
9        10000020        57982         Cash

In [13]:
Transaction_ID.shape

(440098, 3)